<div class="controls mat-elevation-z2">
  <button mat-raised-button color="primary" (click)="isPlaying ? pause.emit() : play.emit()">
    <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>
  <span class="time">{{ currentTime | number:'1.0-0' }} / {{ duration | number:'1.0-0' }}s</span>
  <mat-slider min="0" [max]="duration" color="accent" class="slider">
    <input matSliderThumb [value]="currentTime" (input)="onSeek($event)" />
  </mat-slider>
  <mat-slider min="0" max="1" step="0.01" color="primary" class="slider">
    <input matSliderThumb [value]="volume" (input)="onVolumeChange($event)" />
  </mat-slider>
</div>
